.github/
coverage/
src/
patches/
tests/

.eslintignore
.eslintrc.js
.gitignore
.mise.toml
.npmignore
.prettierignore
.prettierrc
jest.config.js
nest-cli-esm.json
nest-cli.json
tsconfig.build-esm.json
tsconfig.build.json
tsconfig.json
tsconfig.lint.json
*.tgz

